<html>
<head>
    <title>Laminas Form</title>
</head>
<body>
 <form method="POST" role="form">
        <div class="form-group">
            {{ formRow(form.get('username'))  }}
        </div>
        <div class="form-group">
            {{ formRow(form.get('password'))  }}
        </div>
        <div class="form-group">
            {{ formRow(form.get('rememberMe'))  }}
        </div>
        {{ formElement(form.get('login')) }}
    </form>
 
</body>
</html>